.app-input {
  position: relative;
  > input {
    height: 46px;
    width: 100%;
    padding-left: 14px;
    border: 2px solid var(--gray);
    border-radius: 4px;
    outline: none;
    background: transparent;
    color: var(--black);
    font-size: 16px;
    &::-ms-reveal {
      display: none;
    }
    &.has-error {
      border: 2px solid var(--red);
      &:focus {
        border: 2px solid var(--red-dark);
        ~ label {
          color: var(--red-dark);
        }
      }
    }
  }
  > label {
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    pointer-events: none;
    color: var(--gray);
    transition: 0.3s;
    left: 10px;
    padding: 4px 4px;
  }

  > input:focus,
  > input.has-value {
    border-color: var(--border-focus);
    ~ label {
      background: var(--white);
      color: var(--border-focus);
      font-weight: 700;
      translate: 0 -36px;
    }
  }
}
