input.app-input {
  padding: 8px 8px;
  border: 2px solid var(--border);
  outline: none;
  &:focus {
    border: 2px solid var(--border-hover);
  }
}

.is-error {
  input.app-input {
    border: 2px solid var(--red);
    &:focus {
      border: 2px solid var(--red-dark);
    }
  }
}
