.app-select {
  position: relative;
  padding: 8px 8px;
  border: 2px solid var(--border);
  background-color: var(--white);
  cursor: pointer;
  user-select: none;
  &:focus {
    border: 2px solid var(--border-hover);
  }
  .app-select-input {
    user-select: none;
    &::before,
    &::after {
      position: absolute;
      right: 15px;
      content: '';
      display: block;
      width: 2.5px;
      height: 7px;
      background: #757573;
      transform: rotate(50deg);
      top: 15px;
      transition: all 0.25s ease;
    }
    &::after {
      transform: rotate(130deg);
      right: 19px;
    }
    &.active {
      &::before {
        transform: rotate(130deg);
      }
      &::after {
        transform: rotate(50deg);
      }
    }
  }
  .app-options {
    transform: scaleY(0);
    transform-origin: 50% 0;
    position: absolute;
    left: -2px;
    top: 100%;
    width: calc(100% + 2 * 2px);
    padding: 8px 8px;
    cursor: pointer;
    background-color: var(--white);
    border: 2px solid var(--border);
    transition: transform 0.25s ease-in-out;
    z-index: 1;
    &.active {
      transform: scaleY(1);
    }
    .app-option {
      padding: 3px 10px;
      user-select: none;
      transition: all 0.15s ease-in-out;
      &:hover {
        background-color: var(--gray-light);
        font-weight: 700;
      }
    }
  }
}
