.d-none {
  display: none !important;
}

.content-middle {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h3.title {
  font-size: 22px;
  text-align: center;
  margin: 20px;
  color: var(--gray-dark);
}

.card {
  border: 1px solid var(--border);
  background-color: var(--white);
  padding: 20px;
  .card-title {
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--border);
  }
}

button.primary-btn,
input[type='submit'] {
  background-color: var(--white);
  border: 2px solid var(--border);
  padding: 5px 10px;
}

button.primary-btn:hover,
input[type='submit']:hover {
  border-color: var(--border-hover);
}

/* rc-slide */
.rc-slider {
  position: relative;
  width: 100%;
  height: 14px;
  padding: 5px 0;

  &-rail {
    position: absolute;
    width: 100%;
    height: 4px;
    background: var(--gray);
  }

  &-track {
    position: absolute;
    height: 4px;
    background: var(--gray-dark);
  }

  &-handle {
    position: absolute;
    width: 14px;
    height: 14px;
    margin-top: -5px;
    background: var(--white);
    border-radius: 50%;
    cursor: grab;
    border: 2px solid var(--border);
  }
}
