:root {
  --white: #ffffff;
  --gray: #a1a1aa;
  --gray-light: #f3f4f6;
  --gray-dark: #6b7280;
  --black: #374151;
  --blue: #7dd3fc;
  --blue-light: #e0f2fe;
  --blue-dark: #2563eb;
  --red: #ef4444;
  --red-light: #fecaca;
  --red-dark: #b91c1c;
  --green: #22c55e;
  --orange: #f97316;
  --yellow: #fef08a;

  --primary: #2563eb;
  --border: #a1a1aa;
  --border-hover: #1f2937;
}
