.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  &.open {
    visibility: visible;
  }
  &-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--gray-light);
    opacity: 0.5;
    visibility: hidden;
    z-index: 10;
    transition: 0.5s;
  }

  &-box {
    width: 400px;
    height: 340px;
    background-color: var(--white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    box-shadow: 0px 24px 73px rgba(23, 22, 69, 0.08);
    transition: 0.5s;
    scale: 1;
    opacity: 0;
    visibility: hidden;
    > div {
      position: relative;
      z-index: 12;
      padding: 50px 20px;
    }
  }

  &-close {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    z-index: 12;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: 600;
    &:hover {
      opacity: 0.75;
    }
  }

  &.open {
    .modal-overlay {
      opacity: 1;
      visibility: visible;
    }
    .modal-box {
      opacity: 1;
      visibility: visible;
      animation: modal-in 0.5s;
    }
  }
}

@keyframes modal-in {
  0% {
    translate: -50% 100%;
    scale: 0.5;
  }
  100% {
    opacity: 1;
    scale: 1;
    visibility: visible;
  }
}
