.loading-box {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  pointer-events: none;
  background-color: var(--gray-light);
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  &.hide {
    display: none;
  }
}

.spin-box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  pointer-events: none;
  background-color: var(--gray-light);
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  &.hide {
    display: none;
  }
}

.loading {
  width: 30px;
  height: 30px;
  border: 2px solid var(--black);
  border-top-color: transparent;
  border-radius: 100%;
  animation: circle infinite 0.75s linear;
}

@keyframes circle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
