@import './assets/css/index.scss';

* {
    padding: 0;
    margin: 0;
    font-family: manrope;
    font-size: 14px;
    color: var(--black);
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
}

.app {
    height: 100%;
    display: flex;
    .nav-bar {
        height: 100%;
        width: 240px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        background-color: var(--white);
        box-shadow: 0 4px 13px -3px var(--gray-dark);
        .group-title {
            text-align: center;
            margin: 8px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            span {
                font-weight: 700;
                margin: 0 10px;
            }
            &::before, &::after {
                display: block;
                content: "";
                background-color: var(--gray);
                height: 2px;
                width: 100%;
            }
        }
        a {
            text-decoration: none;
            text-align: center;
            padding: 6px;
            margin: 5px 10px;
            border: 1px solid var(--white);
            &.active {
                font-weight: 700;
                border-color: var(--gray);
            }
        }
    }
    .main-content {
        flex: 1;
        padding: 10px 14px;
        border-width: 4px 0 0;
        border-top-style: solid;
        border-image: linear-gradient(139deg, #fb8817, #ff4b01, #c12127, #e02aff) 3;
    }
}

